.mid_block
  .container
    .row
      .col-md-3
      .col-md-6
        .blue_block.sign-up-box
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate.form-horizontal{:action => "https://selfdot.us20.list-manage.com/subscribe/post", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
              #mc_embed_signup_scroll
                %p.center want to know about what we're doing and when? join our email list!
                .form-group
                  %label.col-md-4.control-label{:for => "MERGE0"}
                    Email
                    %span.asterisk *
                  .col-md-8
                    %input#MERGE0.required.email.form-control{:name => "MERGE0", :type => "email", :value => ""}/
                .form-group
                  %label.col-md-4.control-label{:for => "MERGE1"}
                    First Name
                    %span.asterisk *
                  .col-md-8
                    %input#MERGE1.required.form-control{:name => "MERGE1", :type => "text", :value => ""}/
                .form-group
                  %label.col-md-4.control-label{:for => "MERGE2"}
                    Last Name
                    %span.asterisk *
                  .col-md-8
                    %input#MERGE2.required.form-control{:name => "MERGE2", :type => "text", :value => ""}/
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                %input{:name => "u", :type => "hidden", :value => "eb1abec9dec44e154607f6849"}/
                %input{:name => "id", :type => "hidden", :value => "28ad18140a"}/
                %input{:name => "ht", :type => "hidden", :value => "39d9547e8234c002473efb1f54a3f99f9d3323c0:MTU1OTkzNTg0My45MzI3"}/
                %input{:name => "mc_signupsource", :type => "hidden", :value => "hosted"}/
                .center-wrapper
                  %button#mc-embedded-subscribe.btn.button.orange-button{:name => "subscribe", :type => "submit", :value => "Subscribe"} Subscribe

  %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
  :javascript
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='MERGE0';ftypes[0]='email';fnames[1]='MERGE1';ftypes[1]='text';fnames[2]='MERGE2';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
